<div class="row">
    <div class="col-9">
        <h2 class="text-primary">
            Cover Type
        </h2>
    </div>
    <div class="col-3">
        <a asp-action="Upsert" class="btn btn-info form-control">
            <i class="fas fa-plus"></i>&nbsp; Add New Cover Type
        </a>
    </div>
</div>
<div class="container rounded border p-2 m-2">
    <table id="tblData" class="table table-bordered table-striped table-active">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>

</div>

@section Scripts
{
    <script src="~/js/coverType.js"></script>
}