@model int 
<div class="container row">
    <div class="col-12 text-center">
         <h1 class="text-success text-center">Oder Submitted Successfully</h1><br /> 
        <img src="~/Images/OrderPalced.jpg" width="30%" />" 
    </div>
    <div class="col-12 text-center" style="color:green">
        <br />
        Thank You For Your Order! <br />
        We have recieved your order and we will send a follow up email shortly!
        <br />
        Your Oder Numberr is :@Model
    </div>
</div>

